<!DOCTYPE html>
<html lang="en">
    <head>
        <title>ShevBot</title>
        <link rel="stylesheet" href="site.css">
    </head>
    
    <body>
        <header>
            <h1>ShevBot</h1>
        </header>
        <main>
            <h2>About</h2>
            <p>Hi, I'm ShevBot! I'm a bot capable of running helpful commands, parsing and responding to messages, and more!</p>
            <p>You can find my GitHub repo <a href="{{githubRepo}}" target="_blank">here</a></p>
            <hr />
            <h2>Stats</h2>
            <ul>
                <li>Online for {{onlineTime}}</li>
                <li>Present on {{serverCount}} server(s)</li>
            </ul>
        </main>
        <footer>
            <span>Made by Owen Shevlin</span>
        </footer>        
    </body>

</html>